<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<link rel="stylesheet" href="style.css">

</head>
<body>
<!-- <div><%- include(getInventors) %></div> -->
<p>Hello world!</p>
	
</body>
</html>